name: testinstall

on:
  - workflow_dispatch

jobs:
  test:
    name: GAP ${{ matrix.gap-branch }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include: 
          - gap-branch: master
            packages-to-clone: 'alnuth autpgrp polycyclic'
          - gap-branch: stable-4.11
          - gap-branch: stable-4.10
          - gap-branch: stable-4.9

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'Setup GAP'
        uses: gap-actions/setup-gap@v2
        with:
          GAP_PKGS_TO_CLONE: ${{ matrix.packages-to-clone }}
          GAPBRANCH: ${{ matrix.gap-branch }}
      - name: 'Add package to GAP'
        uses: gap-actions/build-pkg@v1
      - name: 'Run testinstall.g with default packages'
        uses: sTertooy/pkg-install-test@v0.3
      - name: 'Run testinstall.g with only needed packages'
        uses: sTertooy/pkg-install-test@v0.3
        with:
          - ONLY_NEEDED: true